.pg-singin *{
    background-image: url('../../assets/images/medium.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.pg-singin{
    height: 100%;
}

/* style pg-singin */
.pg-singin-body{
    display: flex;
    flex-direction: row;
    padding: 20.5px;
}

.pg-singin-txt-img{
    display: flex;
    flex-direction: column;
    width: 700px;
}
.pg-singin-txt-img span{
    color: #ffffff;
    font-family: "Outfit-Bold", Helvetica;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 80px;
    cursor: default;
    margin-left: 35px;
    margin-top: -15px;
}

.pg-singin-txt-img img{
    margin-top: 10px;
    width: 80%;
    height: auto;
}

/* style form-singin */
.form-singin{
    background: #ffffff0f;
    border: 1px solid;
    border-color: transparent;
    border-radius: 20px;
    height: fit-content;
    overflow: hidden;
    width: 400px;
    margin-left: 100px;
}

.form-singin-div-1{
    background: transparent;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 45px;
}

.form-singin-span{
    color: #ffffff;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
    background: transparent;
    cursor: default;
}

.form-singin-div-3{
    background: transparent;
    color: #ffffff;
    font-family: "Outfit-Medium", Helvetica;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
    margin-left: 12px;
    cursor: default;
}

.form-singin-div-3-b{
    background: transparent;
    cursor: pointer;
    margin-left: 5px;
}

.form-singin-div-3-b:hover{
    color: #22a75d;
}

/* style formClient-singin */
.formClient-singin-div-2{
    background: #ffffff0f;
}

.formClient-singin-div-4{
    background: transparent;
    margin-top: 25px;
}

.formClient-singin-input{
    background: transparent;
    outline: none;
    border-color: #ffffff;
    border-width: 0.5px;
    border-style: ridge ;
    border-radius: 9px;
    height: 37px;
    width: 300px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
    white-space: nowrap;
    font-family: "Outfit-Regular", Helvetica;
    margin-bottom: 25px;
    text-indent: 10px;
    color: #ffff;

    &:focus {
        color: #ffff;
    }
}

.formClient-singin-input::placeholder {
    color: #ffffff;
    opacity: 1;
    transition: opacity ease;
}

.formClient-singin-input:focus::placeholder {
    opacity: 0;
}

/* style input-tel */
/* .formClient-singin-input-tel {
    background: transparent;
    outline: none;
    border: 0.5px ridge #ffffff;
    border-radius: 9px;
    height: 37px;
    width: 300px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
    white-space: nowrap;
    font-family: "Outfit-Regular", Helvetica;
    margin-bottom: 25px;
    text-indent: 40px; /* Ajustez la valeur en fonction de vos besoins */
    /* color: #ffff;

    &:focus {
        color: #ffff;
    }
}

.formClient-singin-input-tel::placeholder {
    color: #ffffff;
    opacity: 1;
    transition: opacity ease;
}

.formClient-singin-input-tel:focus::placeholder {
    opacity: 0;
}

.formClient-singin-input-tel-prefix {
    font-family: "Outfit-Regular", Helvetica;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #ffffff;
    background: transparent;
}

.content-tel {
    position:relative;
    background: transparent;
    margin-top: -20px;
} */ 
/*****************************************/
.formClient-singin-dropdown{
    background: transparent;
    border-color: #ffffff;
    border-width: 0.5px;
    border-style: ridge ;
    border-radius: 9px;
    height: 37px;
    width: 306px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
    white-space: nowrap;
    font-family: "Outfit-Regular", Helvetica;
    margin-bottom: 25px;
    text-indent: 10px;
    color: #ffff;

    &:focus {
        color: #ffff;
    }
}


.formClient-singin-btn{
    align-items: center;
    background: linear-gradient(45deg, rgb(34, 167, 93) 0%, rgb(226, 6, 19) 100%);
    border-radius: 12px;
    gap: 10px;
    justify-content: center;
    padding: 14px 10px;
    width: 300px;
    border: none;
    color: #ffffff;
    margin-left: 6px;
    cursor: pointer;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
}

.formClient-singin-btn:hover{
    background: linear-gradient(45deg, rgb(45, 226, 126) 0%,rgb(248, 17, 32) 100%);
}
